
    body{
    background-color: #cccccc;
}
    img{
    width: 85%;
}
   .titulo-principal{
    padding: center;
}
    .titulo-centralizado{
        text-align: center;
}

    h1, p{
    text-align: center;
}

    em{
    color: rgb(47, 0, 255);
}
    #missao{
    font-size: 20px;
}

.itens{
        font-style: italic;
}

.principal{
        background-color:#cccccc;
        padding: 30px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios{
    background-color:  #cccccc;
    padding: 20px;
}

.img-beneficios{
        width: 50%;
}